
.scan-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 12px;
}

.pair-button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 12px;
}

.ble-form {
    border: #619647;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFC66D;
    background-color: #000000;
}

.terminal {
    background: #000000;
    height: 500px;
    overflow: scroll;
    margin: 20px 0 0;
    padding: 10px 0;
    border: 1px solid #619647;
    user-select: text;
    border-radius: 3px 3px 0 0;
}

