<header id="masthead">
  <div class="row">
    <div class="column-6">
      <!-- <div class="inner-wrap"> -->
        <a class="site-title" href="http://ladvien.github.io/"><h2>{{ site.title }}</h2></a>
    </div>
    <div class="column-6">
        <nav role="navigation" class="menu top-menu">
          {% include navigation.html %}
        </nav>
    </div>
  </div>
</header><!-- /.masthead -->

<!--

<header id="masthead">
  <div class="inner-wrap">
    <div ><a class="site-title" href="http://ladvien.github.io/"><h2>{{ site.title }}</h2></a> </div>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap
</header><!-- /.masthead

-->
