<div class="container">
        <div class="container" style="margin: 5px;">
            <span>Service ID: <input type="text" id="optionalServices" name="service" value="0xFFE0"></span>
        </div>
        <div class="container" style="margin: 5px;">
            <span>Send: <input type="text" id="textToWrite" name="text-to-write" value="AT+NAME?"></span>
        </div>
        <div class="container">
            <button class="scan-button" id="btn-1">Scan</button><button class="btn-danger btn-lg" id="btn-write-ble">Send</button>  
        </div>
</div>
<div class="container">
   <div class="row">
        <div class="col-lg-6"></div>    
        <div class="col-lg-6"></div>
   </div>
<!--   <link rel="stylesheet" href="/../../css/bootstrap.css">-->
</div>
