<link rel="stylesheet" href="/../../../css/js-ble.css" media="screen" type="text/css">
<div class="container">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Service ID: </label>
                <input type="text" id="optionalServices" name="service" value="0xFFE0">
                <span class="pure-form-message-inline">This is a required field.</span>
            </div>

            <div class="pure-control-group">
                <label for="password">Send: </label>
                <input type="text" id="textToWrite" name="text-to-write" value="AT+NAME?">
            </div>

            <div class="pure-control-group">
                <label for="email">Email Address</label>
                <input id="email" type="email" placeholder="Email Address">
            </div>

            <div class="pure-control-group">
                <label for="foo">Supercalifragilistic Label</label>
                <input id="foo" type="text" placeholder="Enter something here...">
            </div>

            <div class="pure-controls">
                <label for="cb" class="pure-checkbox">
                    <input id="cb" type="checkbox"> I've read the terms and conditions
                </label>

                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
    <div class="container" style="margin: 5px;"></div>
    <div class="container">
        <button class="scan-button" id="btn-1">Scan</button>
        <button class="pair-button" id="btn-write-ble">Send</button>  
    </div>
</div>
<div class="container">
   <div class="row">
        <div class="col-lg-6"></div>    
        <div class="col-lg-6"></div>
   </div>
</div>
