<div class="container">
    <form>
        <fieldset class="ble-form">
            <div>
                <label for="name">Service ID: </label>
                <input type="text" id="optionalServices" name="service" value="0xFFE0">
            </div>
        </fieldset>
    </form>
    <div class="container" style="margin: 5px;"></div>
    <div class="container">
        <button class="scan-button" id="btn-1">Scan</button>

    </div>
</div>
<div>
    <div class="terminal" id="terminal"></div>
    <div class="same-line-container"><button class="send-button" id="btn-write-ble">Send</button><input type="text" id="textToWrite" name="text-to-write" value="AT+NAME?"></div>
</div>