<a href="{{ post.url }}">
  <div class="post-list-item-wrapper">
    <div>
    <!--  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3> -->
    <h3 class="no-wrap-child post-list-item-title">{{ post.title }}</h3>
        <small class="post-list-item-date"><strong>{{ post.date | date: "%B %e, %Y" }}</strong> {{ post.category }} <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small>
    </div>
  </div>
</a>

<!--
<a href="{{ post.url }}">
  <div class="post-list-item-wrapper">
    <div class="post-list-item-image-wrapper">
      {% if post.image.teaser %}
        <img src="{{ site.url }}/images/{{ post.image.teaser }}" class="post-list-image no-wrap-child" alt="teaser" itemprop="image">
      {% else %}<img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
      {% endif %}</a>
    </div>
    <div>

    <h3>{{ post.title }}</h3>
      <p>
        <small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> {{ post.category }} <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small>
      </p>
    </div>
  </div>
</a>
-->
