

@media only screen and (min-device-width: $medium){
  .sliding-menu-button {
    top: $gutter;
  }
  .wrap{
    margin-top: 100px;
   }
   .post-list-item-title {
     line-height: .7 * $masthead-height; // half the height to center vertically
     font-size: 44px;
   }
  .site-title {
    color: green;
  }
}


// EQUAL TO OR LESS THAN 960px;
@media only screen and (max-width: 960px){
  .site-title {
    color: blue;
  }

}
