{% include header.html %}

<div id="flip">Click to slide down panel</div>
<div id="panel">Hello world!</div>


<!---
<div class="splash-sliding-image-block">
  <span class="splash-block1"></span>

</div>


<div class="row">
  <div class="large-8 columns">
    <div class="row">
      <div class="large-8 columns">
          <img src="images/homeless_on_bench_with_alpha.png" class="splash-left-image">
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <h3>Day Job</h3>
        </div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="large-4 columns">
        <div class="panel">
          <h3>Night Job</h3>
        </div>
      </div>
      <div class="large-8 columns">
        <div class="splash-right-image">
          <img src="/images/robot_in_with_alpha.png">
        </div>
      </div>
    </div>
  </div>
</div>
-->

{% include footer.html %}
