{% include header.html %}




<div class="row">
  <div class="large-8 columns">
    <div class="row">
      <div class="large-8 columns">
        <div class="splash-container">
          <img src="/images/robot_in_lab_1366x768.png" id="day-image">
            <span class="hidden-text" id="day-image">blasdsa</span>

        </div>
      </div>
      <div class="large-4 columns">
        <div class="panel">
          <h3>Day Job</h3>
        </div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="large-4 columns">
        <div class="panel">
          <h3>Night Job</h3>
        </div>
      </div>
      <div class="large-8 columns">
          <img src="/images/robot_in_with_alpha.png" id="night-image">
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
